* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 2.5vw; }

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  background-color: #eee; }
  body a {
    text-decoration: none; }
  body svg {
    display: block; }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: absolute;
  width: 100%;
  padding: 0.2rem 0.8rem;
  z-index: 1500000; }

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .logo h1 {
    position: absolute;
    opacity: 0; }
  .logo h2 {
    color: #36394A;
    font-size: 0.4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    display: inline-block;
    margin-left: 0.5rem; }
  .logo svg {
    width: 2rem; }

.nav-toggle {
  display: none; }
  .nav-toggle span {
    display: block;
    height: 0.8vw;
    width: 4vw;
    background-color: #eee;
    margin-bottom: 1.2vw; }
    .nav-toggle span:nth-of-type(2) {
      width: 6vw; }
    .nav-toggle span:last-of-type {
      width: 8vw; }

nav ul li {
  display: inline-block;
  font-size: 0.4rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.05rem;
  color: #eee;
  margin-right: 0.5rem; }

#body-home {
  background-color: #121212; }

#banner {
  position: relative;
  width: 100%;
  height: 105vh;
  background-image: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.404) 50%, rgba(255, 255, 255, 0) 100%), url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }
  #banner h3 {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: #eee;
    margin-left: 8vw;
    margin-bottom: 1rem; }
    #banner h3 span {
      font-weight: 300; }
  #banner #btn {
    border: 0.1vw solid #eee;
    margin-left: 8vw;
    color: #eee;
    padding: 0.5rem 1rem;
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    text-transform: uppercase; }
  #banner #arrow {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%, -50%); }
    #banner #arrow svg {
      height: 1.4rem;
      transform: rotate(90deg); }

#nosotros {
  width: 85vw;
  margin: 0 7.5vw;
  background-color: #36394A;
  position: relative;
  top: -10vh;
  padding: 10vw 6vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  #nosotros #nosotros-text {
    width: 65%; }
    #nosotros #nosotros-text h4 {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      color: #eee;
      margin-bottom: 0.4rem; }
    #nosotros #nosotros-text p {
      font-size: 0.6rem;
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      color: #eee;
      margin-bottom: 1rem; }
    #nosotros #nosotros-text span {
      width: 1.2rem;
      height: 0.1rem;
      background-color: #eee;
      display: block;
      margin-bottom: 1rem; }
  #nosotros img {
    width: 35vw;
    height: 25vw;
    position: relative;
    left: 25%;
    object-fit: cover; }

#semillero {
  display: block;
  height: 50vh; }

#call-contacto {
  width: 100%;
  background-color: #36394A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 5rem;
  -webkit-clip-path: polygon(0 31%, 100% 0, 100% 100%, 0 100%); }
  #call-contacto p {
    font-size: 0.6rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: #eee;
    margin-bottom: 1rem; }
  #call-contacto a {
    border: 0.1vw solid #eee;
    color: #eee;
    padding: 0.5rem 1rem;
    font-size: 0.4rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    text-transform: uppercase; }

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #121212; }
  footer p {
    display: inline-block;
    font-size: 0.4rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: #eee; }
  footer .footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    footer .footer-info p {
      display: inline-block; }
    footer .footer-info svg {
      width: 1.5rem;
      display: inline-block;
      margin-right: 0.5rem; }
      footer .footer-info svg:last-of-type {
        width: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.2rem; }
  footer .footer-socialmedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase; }
    footer .footer-socialmedia svg {
      width: 1rem;
      display: inline-block;
      margin-left: 0.5rem; }

#banner-contacto {
  width: 100%;
  background-color: #121212;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #eee;
  padding: 4rem 8vw; }
  #banner-contacto h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem; }
  #banner-contacto p {
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    width: 35%; }

#contacto-formularios {
  display: -webkit-flex;
  padding: 1.5rem 5rem; }
  #contacto-formularios #carga-cv {
    background-color: #36394A;
    width: 45%;
    height: inherit;
    margin-right: 2rem;
    padding: 0.5rem;
    color: #eee;
    position: relative; }
    #contacto-formularios #carga-cv p {
      font-size: 0.8rem;
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: calc(100% - 2rem); }
    #contacto-formularios #carga-cv #cargar {
      width: calc(100% - 2rem);
      font-size: 0.6rem;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0.05rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
      #contacto-formularios #carga-cv #cargar input {
        width: 100%;
        -webkit-appearance: none; }
    #contacto-formularios #carga-cv #enviar-cv {
      width: calc(100% - 2rem);
      border: 0.1vw solid #eee;
      color: #eee;
      background-color: transparent;
      padding: 0.4rem;
      font-size: 0.4rem;
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      cursor: pointer;
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      border-radius: none; }
  #contacto-formularios #formulario {
    width: 100%; }
    #contacto-formularios #formulario .form {
      position: relative;
      margin-bottom: 1rem; }
      #contacto-formularios #formulario .form input, #contacto-formularios #formulario .form textarea {
        border: 0.05vw solid black;
        font-size: 0.5rem;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: 0.05rem;
        outline: none;
        border-radius: 0;
        padding: 0.2rem 0.3rem;
        width: 100%;
        background-color: #eee;
        -webkit-appearance: none; }
      #contacto-formularios #formulario .form textarea {
        height: 5.5rem;
        resize: none;
        margin-top: 0.4rem; }
      #contacto-formularios #formulario .form #label-text {
        font-size: 0.5rem;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.05rem;
        color: rgba(0, 0, 0, 0.5); }
      #contacto-formularios #formulario .form .moving-label {
        font-size: 0.5rem;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: 0.05rem;
        position: absolute;
        bottom: 0.2rem;
        left: 0.3rem;
        opacity: 0.7;
        display: block;
        transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03);
        color: rgba(0, 0, 0, 0.5);
        pointer-events: none; }
      #contacto-formularios #formulario .form input:focus ~ label {
        transform: translate(-0.3rem, 1rem);
        font-size: 0.4rem; }
      #contacto-formularios #formulario .form input:not(:focus):valid ~ label {
        transform: translate(-0.3rem, 1rem);
        font-size: 0.4rem; }
    #contacto-formularios #formulario #btn-enviar {
      width: 100%;
      background-color: #36394A;
      color: #eee;
      font-size: 0.5rem;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.05rem;
      text-transform: capitalize;
      border: none;
      outline: none;
      border-radius: none;
      padding: 0.5rem;
      cursor: pointer;
      -webkit-appearance: none; }

@media screen and (max-width: 1024px) {
  html {
    font-size: 6vw; }
  header {
    padding: 0.5rem 0.5rem; }
  .nav-toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  nav {
    position: absolute;
    display: none; }
  #banner {
    height: 90vh; }
    #banner #arrow {
      bottom: 2vh; }
  #nosotros {
    width: 100%;
    margin: 0;
    top: 0;
    padding: 15vw 12vw 0 12vw;
    display: block; }
    #nosotros #nosotros-text {
      width: 100%; }
    #nosotros img {
      width: 75vw;
      height: 50vw;
      object-fit: cover;
      left: 0;
      margin-top: -8vw;
      top: 15vw; }
  footer {
    display: block; }
    footer .footer-socialmedia {
      margin-top: 0.8rem; }
  #banner-contacto p {
    width: 80%; }
  #contacto-formularios {
    display: flex;
    flex-direction: column;
    padding: 0; }
    #contacto-formularios #carga-cv {
      padding: 10vw 6vw;
      order: 2;
      width: 100vw;
      height: 100%;
      background-color: #36394A;
      margin: 0;
      text-align: center; }
      #contacto-formularios #carga-cv p {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        transform: none;
        margin-bottom: 5vw; }
      #contacto-formularios #carga-cv #cargar {
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        transform: none;
        text-align: center; }
        #contacto-formularios #carga-cv #cargar input {
          margin-top: 10vw; }
      #contacto-formularios #carga-cv #enviar-cv {
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        margin-top: 10vw; }
    #contacto-formularios #formulario {
      order: 1;
      width: 100vw;
      padding: 10vw 6vw; } }

@media screen and (orientation: landscape) and (max-width: 1024px) {
  html {
    font-size: 5vw; }
  header {
    padding: 0.2rem 0.5rem; }
  .nav-toggle {
    transform: scale(0.6); }
  #banner {
    height: 130vh; }
    #banner h3 {
      font-size: 1rem; }
    #banner #btn {
      font-size: 0.4rem; } }

@media screen and (min-width: 767px) and (max-width: 1024px) {
  html {
    font-size: 4vw; } }
