* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 2.5vw; }

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  background-color: #eee; }
  body a {
    text-decoration: none; }
  body svg {
    display: block; }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: fixed;
  width: 100%;
  padding: 0.4rem 0;
  z-index: 1500000;
  transition: background 0.3s ease-out; }

#mobile-bg {
  position: fixed;
  right: 0;
  top: 0;
  height: 500vh;
  width: 500vw;
  background-color: #121212;
  z-index: -15000;
  transform-origin: top right;
  transform: scale(0);
  transition: transform 0.3s ease-out;
  border-bottom-left-radius: 50%; }

.scroll {
  background-color: black;
  transition: background 1s ease-out;
  box-shadow: 0rem 0rem 1vh rgba(0, 0, 0, 0.2);
  border-bottom: 0.5px solid rgba(117, 117, 117, 0.2); }

nav h1 {
  position: absolute;
  opacity: 0; }

#logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #logo svg {
    height: 1.1rem; }

#logo-mobile {
  display: none; }
  #logo-mobile h2 {
    font-size: 0.4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: #666A84; }
  #logo-mobile svg {
    height: 1.3rem;
    margin-right: .5rem; }

#nav-toggle {
  display: none; }
  #nav-toggle span {
    display: block;
    height: 0.8vw;
    width: 8vw;
    background-color: #eee;
    margin-bottom: 1.2vw;
    transform-origin: top right;
    transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
    #nav-toggle span:nth-of-type(2) {
      width: 6vw; }
    #nav-toggle span:last-of-type {
      width: 4vw;
      margin-bottom: 0;
      transform-origin: bottom right; }

nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

nav #nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

nav #nav-list .nav-li {
  display: inline;
  list-style: none;
  position: relative;
  font-size: 0.3rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.05rem;
  margin-left: 1.2rem; }
  nav #nav-list .nav-li:first-of-type {
    margin-left: none; }
  nav #nav-list .nav-li a {
    color: white;
    text-transform: uppercase; }
    nav #nav-list .nav-li a#forma-parte {
      color: #666A84;
      font-weight: 700; }
  nav #nav-list .nav-li .underline {
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -0.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; }
    nav #nav-list .nav-li .underline .circle {
      width: 0.2rem;
      height: 0.2rem;
      display: block;
      border: 0.04rem solid #666A84;
      border-radius: 50%; }
    nav #nav-list .nav-li .underline .line {
      width: 0;
      height: 0.04rem;
      display: block;
      background-color: #666A84; }
  nav #nav-list .nav-li:hover .underline {
    opacity: 1; }
  nav #nav-list .nav-li:hover .underline .line {
    animation: slideIn .2s ease-out forwards; }
  nav #nav-list .nav-li:hover #under-servicios {
    pointer-events: auto;
    animation: showUnder .2s ease-out forwards; }
  nav #nav-list .nav-li:hover #under-servicios li {
    pointer-events: auto;
    animation: slideRight .2s ease-out forwards; }

@keyframes showUnder {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideIn {
  0% {
    width: 10%; }
  50% {
    background-color: white; }
  100% {
    background-color: #666A84;
    width: 80%; } }

nav #under-servicios {
  opacity: 0;
  transform-origin: top center;
  pointer-events: none;
  background-color: transparent;
  position: absolute;
  top: 100%;
  left: -45%;
  width: 190%;
  padding: .5rem; }
  nav #under-servicios.scroll-sv {
    background-color: black;
    transition-delay: 2s;
    transition: background 1.2s ease-out; }
  nav #under-servicios li {
    list-style: none;
    transform: translateX(-0.5rem);
    opacity: 0;
    margin-left: 0;
    margin-bottom: .5rem; }
    nav #under-servicios li:first-of-type {
      margin-top: .5rem; }
    nav #under-servicios li:last-of-type {
      margin-bottom: .1rem; }
    nav #under-servicios li:hover a {
      color: #666A84;
      font-weight: 400; }

#body-home {
  background-color: #121212; }

#banner {
  position: relative;
  width: 100%;
  height: 105vh;
  background-image: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.404) 50%, rgba(255, 255, 255, 0) 100%), url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  #banner #slider {
    position: relative; }
  #banner h3 {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: #eee;
    margin-left: 8vw;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-bottom: 1rem;
    position: relative;
    top: 0;
    left: 0; }
    #banner h3 span {
      font-weight: 700; }
    #banner h3 .fade {
      animation-name: fade;
      animation-duration: 1.5s; }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
  #banner .btn {
    width: auto;
    display: block;
    border: 0.1vw solid #eee;
    margin-left: 8vw;
    color: #eee;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  #banner #arrow {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: moveUpDown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; }
    #banner #arrow svg {
      height: 1.2rem;
      transform: rotate(90deg); }

#nosotros {
  width: 85vw;
  margin: 0 7.5vw;
  background-color: #36394A;
  position: relative;
  top: -10vh;
  padding: 10vw 6vw 15vw 6vw;
  animation-name: moveUp;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  -webkit-clip-path: polygon(0 90%, 0 0, 150% 0, 150% 90%, 58% 90%, 50% 100%, 42% 90%);
  overflow: visible;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  #nosotros #nosotros-text {
    width: 65%; }
    #nosotros #nosotros-text h4 {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      color: #eee;
      margin-bottom: 0.4rem; }
    #nosotros #nosotros-text p {
      font-size: 0.6rem;
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      color: #eee;
      margin-bottom: 1rem; }
    #nosotros #nosotros-text span {
      width: 1.2rem;
      height: 0.1rem;
      background-color: #eee;
      display: block;
      margin-bottom: 1rem; }
  #nosotros img {
    width: 35vw;
    height: 25vw;
    position: relative;
    left: 25%;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    transition: all 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
  #nosotros img:hover {
    -webkit-filter: grayscale(0%);
    transform: translateX(-5%) scale(1.1); }

#servicios {
  margin-top: 1rem; }

#summary {
  width: 85vw;
  margin: 0 7.5vw 10vw 7.5vw;
  text-align: center;
  color: white; }
  #summary h4 {
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.05rem; }
  #summary #servicios-icons {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%; }
    #summary #servicios-icons a {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      #summary #servicios-icons a svg {
        height: 2rem;
        transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
      #summary #servicios-icons a .line {
        display: block;
        height: 1.5rem;
        width: .15vw;
        background-color: #36394A;
        margin: 1vw 0;
        transform-origin: bottom center;
        transition: transform 0.2s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
      #summary #servicios-icons a p {
        width: 55%;
        color: white;
        font-size: 0.6rem;
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: 0.05rem; }
    #summary #servicios-icons .icon:hover .line {
      transform: scale(0); }
    #summary #servicios-icons .icon:hover svg {
      transform: translateY(1rem); }
    #summary #servicios-icons .icon:hover svg path {
      fill: #D4D4D4; }
    #summary #servicios-icons .icon:hover svg circle {
      fill: #D4D4D4; }

.article {
  background-color: #36394A;
  padding: 3rem;
  color: #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative; }
  .article.right {
    background-color: #121212;
    text-align: right; }
    .article.right .article-text {
      order: 2; }
    .article.right .lenguajes {
      order: 1; }
    .article.right span {
      position: absolute;
      right: 3rem; }
  .article .article-text {
    width: 35%; }
    .article .article-text h4 {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      color: #eee;
      margin-bottom: 0.4rem; }
    .article .article-text span {
      width: 1.2rem;
      height: 0.1rem;
      background-color: #eee;
      display: block; }
    .article .article-text p {
      font-size: 0.5rem;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 0.05rem;
      margin-top: 1rem; }

.lenguajes {
  width: 55%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  row-gap: 6vw; }
  .lenguajes .lng {
    font-size: 0.4rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .lenguajes .lng.white svg path {
      fill: rgba(255, 255, 255, 0.5); }
    .lenguajes .lng p {
      transition: font 0.2s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
    .lenguajes .lng svg {
      height: 1.4rem;
      margin-bottom: 0.5rem;
      transition: transform 0.2s cubic-bezier(0.18, 0.57, 0.5, 1.03); }

#contacto {
  background-color: #262626; }

#call-contacto {
  padding: 3rem 0 2.5rem 0;
  -webkit-clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  background-color: #121212;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #call-contacto p {
    font-size: 0.6rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: #eee;
    margin-bottom: 1rem; }
  #call-contacto a {
    color: #eee;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    text-transform: uppercase; }
  #call-contacto #arrow svg {
    margin-top: 2vw;
    height: 0.8rem;
    transform: rotate(90deg); }

#contacto-formularios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: #262626; }

#formulario, #formulario-join {
  width: 50%; }
  #formulario .form, #formulario-join .form {
    position: relative;
    margin-bottom: 1rem; }
    #formulario .form input, #formulario .form textarea, #formulario-join .form input, #formulario-join .form textarea {
      border: none;
      font-size: 0.5rem;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: 0.05rem;
      outline: none;
      border-radius: 0;
      padding: 0.3rem;
      width: 100%;
      background-color: #E1E1E1;
      -webkit-appearance: none;
      border-radius: 0.15rem; }
    #formulario .form textarea, #formulario-join .form textarea {
      height: 5.5rem;
      resize: none;
      margin-top: 0.4rem; }
    #formulario .form .label-text, #formulario-join .form .label-text {
      font-size: 0.5rem;
      font-weight: 300;
      line-height: 1;
      letter-spacing: 0.05rem;
      color: rgba(0, 0, 0, 0.8);
      color: white; }
    #formulario .form .moving-label, #formulario-join .form .moving-label {
      font-size: 0.5rem;
      font-weight: 300;
      line-height: 1.4;
      letter-spacing: 0.05rem;
      position: absolute;
      bottom: 0.3rem;
      left: 0.3rem;
      display: block;
      transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03);
      color: #121212;
      pointer-events: none; }
      #formulario .form .moving-label.filled, #formulario-join .form .moving-label.filled {
        transform: translate(-0.3rem, 1rem);
        font-size: 0.4rem;
        color: white; }
    #formulario .form input:focus ~ label, #formulario-join .form input:focus ~ label {
      transform: translate(-0.3rem, 1rem);
      font-size: 0.4rem;
      color: white; }
  #formulario #btn-enviar, #formulario #send-cv, #formulario-join #btn-enviar, #formulario-join #send-cv {
    width: 100%;
    background-color: transparent;
    border: 0.05vw solid #eee;
    color: #eee;
    font-size: 0.4rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.05rem;
    text-transform: capitalize;
    outline: none;
    border-radius: 0.15rem;
    padding: 0.5rem;
    cursor: pointer;
    -webkit-appearance: none; }

#join {
  background-color: #36394A; }

#join-us {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; }
  #join-us h3 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    text-transform: uppercase; }
  #join-us span {
    background-color: #666A84;
    height: 2rem;
    width: .05rem;
    margin: 1rem 0; }
  #join-us h4 {
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    margin-bottom: 3rem; }
  #join-us #postulate {
    margin: 2rem 0 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #join-us #postulate h3 {
      font-size: 0.7rem;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      margin-bottom: .5rem; }
    #join-us #postulate svg {
      transform: rotate(90deg);
      height: 1rem; }

#form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem; }
  #form-wrapper #formulario-join select {
    margin-top: .4rem;
    width: 100%;
    display: block;
    border: none;
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.05rem;
    outline: none;
    padding: 0.3rem;
    background-color: #E1E1E1;
    border-radius: 0.15rem; }
  #form-wrapper #formulario-join textarea {
    height: 4rem; }
  #form-wrapper #formulario-join span {
    font-size: .4rem;
    opacity: .4; }
  #form-wrapper #formulario-join #cv {
    margin-top: .4rem; }

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #121212; }
  footer p {
    display: inline-block;
    font-size: 0.4rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: #eee; }
  footer .footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    footer .footer-info p {
      display: inline-block; }
    footer .footer-info svg {
      width: 0.8rem;
      display: inline-block;
      margin-right: 0.5rem; }
  footer .footer-contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    footer .footer-contacto a {
      display: inline-block;
      font-size: 0.4rem;
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      color: #eee; }
    footer .footer-contacto svg {
      width: 0.5rem;
      display: inline-block;
      margin-right: 0.5rem; }
  footer .footer-socialmedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase; }
    footer .footer-socialmedia svg {
      width: 1rem;
      display: inline-block;
      margin-left: 0.5rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveUpDown {
  0% {
    transform: translateY(-2vh); }
  50% {
    transform: translateY(0); }
  100% {
    transform: translateY(-2vh); } }

@keyframes moveUp {
  0% {
    transform: translateY(10vh); }
  100% {
    transform: translateY(0); } }

@media screen and (max-width: 1024px) {
  html {
    font-size: 6vw; }
  header {
    padding: 0.6rem 0.8rem; }
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    nav #nav-toggle {
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
    nav #logo-mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
    nav #nav-list {
      position: fixed;
      top: 50vh;
      left: 0;
      transform: translate(150%, -50%);
      display: block;
      transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
      nav #nav-list .nav-li {
        display: list-item;
        width: 100vw;
        margin: 0;
        text-align: center;
        font-size: 1rem;
        padding: 1rem 0; }
        nav #nav-list .nav-li#logo-li {
          display: none; }
        nav #nav-list .nav-li .underline {
          display: none; }
    nav #under-servicios {
      display: none; }
  #banner {
    height: 90vh; }
    #banner #arrow {
      bottom: 2vh; }
    #banner h3 {
      width: 70%; }
  #nosotros {
    width: 100%;
    margin: 0;
    top: 0;
    padding: 15vw 12vw 0 12vw;
    display: block;
    clip-path: none; }
    #nosotros #nosotros-text {
      width: 100%; }
    #nosotros img {
      width: 75vw;
      height: 50vw;
      left: 0;
      margin-top: -8vw;
      top: 15vw;
      display: block; }
    #nosotros img:hover {
      -webkit-filter: grayscale(100%);
      transform: translateX(0) scale(1); }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer .footer-socialmedia, footer .footer-contacto {
      margin-top: 0.8rem; }
  #banner-section p {
    width: 80%; }
  #contacto-formularios {
    display: flex;
    flex-direction: column;
    padding: 0; }
    #contacto-formularios #carga-cv {
      padding: 10vw 6vw;
      order: 2;
      width: 100vw;
      height: 100%;
      margin: 0; }
      #contacto-formularios #carga-cv p {
        margin-bottom: 5vw; }
      #contacto-formularios #carga-cv #cargar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        #contacto-formularios #carga-cv #cargar input {
          margin-top: 6vw;
          width: 50%; }
      #contacto-formularios #carga-cv #enviar-cv {
        margin-top: 10vw; }
    #contacto-formularios #formulario {
      order: 1;
      width: 100vw;
      padding: 10vw 6vw; }
  #summary {
    margin-top: 35vw;
    margin-bottom: 18vw; }
    #summary #servicios-icons {
      grid-template-columns: 1fr;
      row-gap: 10vw; }
  .article {
    padding: 2rem 1.5rem;
    display: block; }
    .article.right {
      text-align: left; }
      .article.right span {
        position: relative;
        top: 0;
        left: 0; }
    .article .article-text {
      width: 100%; }
    .article .lenguajes {
      width: 100%;
      margin-top: 2rem;
      row-gap: 10vw; }
  #join-us .lenguajes {
    width: 80%; }
  #formulario-join {
    width: 100%;
    padding: 0 6vw; } }

@media screen and (orientation: landscape) and (max-width: 1024px) {
  html {
    font-size: 5vw; }
  header {
    padding: 0.3em 0.5rem; }
  nav #nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%; }
    nav #nav-list .nav-li {
      display: inline;
      width: auto;
      margin-right: 1.2rem;
      font-size: 0.7rem; }
      nav #nav-list .nav-li:last-of-type {
        margin-right: 0; }
  #nav-toggle {
    transform: scale(0.6); }
  #banner {
    height: 130vh; }
    #banner h3 {
      font-size: 1rem; }
    #banner #btn {
      font-size: 0.4rem; }
  #summary #servicios-icons {
    grid-template-columns: repeat(4, 1fr); }
    #summary #servicios-icons .icon {
      grid-column: span 2; }
      #summary #servicios-icons .icon:last-of-type {
        grid-column: 2 / span 2; } }

@media screen and (min-width: 767px) and (max-width: 1024px) {
  html {
    font-size: 4vw; } }
