* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 2.5vw; }

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  background-color: #fff; }
  body a {
    text-decoration: none; }
  body svg {
    display: block; }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: fixed;
  width: 100%;
  padding: 0.6rem 0;
  z-index: 1500000;
  -webkit-transition: background 0.3s ease-out; }
  header #logo-text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    left: 1rem; }
    header #logo-text svg {
      width: 2.2rem; }
  header #idioma {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    header #idioma p {
      color: #333333;
      font-size: 0.3rem;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      display: inline-block;
      margin-right: .1rem; }
    header #idioma svg {
      width: .6rem;
      display: inline-block; }

#mobile-bg {
  position: fixed;
  right: 0;
  top: 0;
  height: 500vh;
  width: 500vw;
  background-color: #fff;
  z-index: -15000;
  -webkit-transform-origin: top right;
  -webkit-transform: scale(0);
  -webkit-transition: transform 0.3s ease-out;
  border-bottom-left-radius: 50%; }

.scroll {
  background-color: #fff;
  -webkit-transition: background 1s ease-out;
  box-shadow: 0rem 0rem 1vh rgba(0, 0, 0, 0.2);
  border-bottom: 0.5px solid rgba(117, 117, 117, 0.2); }

nav h1 {
  position: absolute;
  opacity: 0; }

#logo {
  -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03);
  -webkit-transform-origin: center center; }
  #logo svg {
    height: .7rem; }
    #logo svg .letters {
      -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03);
      -webkit-transform-origin: center center; }
      #logo svg .letters path {
        fill: #5e5e5e; }
    #logo svg #icono path {
      fill: #4DB0E2; }

#logo-mobile {
  z-index: 45648888888;
  display: none; }
  #logo-mobile h2 {
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: white; }
  #logo-mobile svg {
    height: .9rem; }

#nav-toggle {
  display: none; }
  #nav-toggle span {
    display: block;
    height: 0.8vw;
    width: 8vw;
    background-color: #4DB0E2;
    margin-bottom: 1.2vw;
    transform-origin: top right;
    -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
    #nav-toggle span:nth-of-type(2) {
      width: 6vw; }
    #nav-toggle span:last-of-type {
      width: 4vw;
      margin-bottom: 0;
      -webkit-transform-origin: bottom right; }

nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

nav #nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

nav #nav-list .nav-li {
  display: inline;
  font-size: 0.3rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.05rem;
  list-style: none;
  position: relative;
  margin-left: 1.2rem; }
  nav #nav-list .nav-li:first-of-type {
    margin-left: none; }
  nav #nav-list .nav-li a {
    color: #333333;
    text-transform: uppercase; }
    nav #nav-list .nav-li a#forma-parte {
      color: #fff;
      background-color: #4DB0E2;
      padding: .2rem .3rem;
      border-radius: .6rem;
      font-weight: 700; }
  nav #nav-list .nav-li .underline {
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -0.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; }
    nav #nav-list .nav-li .underline .circle {
      width: 0.2rem;
      height: 0.2rem;
      display: block;
      border: 0.04rem solid #4DB0E2;
      border-radius: 50%; }
    nav #nav-list .nav-li .underline .line {
      width: 0;
      height: 0.04rem;
      display: block;
      background-color: #4DB0E2; }
  nav #nav-list .nav-li:hover .underline {
    opacity: 1; }
  nav #nav-list .nav-li:hover .underline .line {
    -webkit-animation: slideIn .2s ease-out forwards; }
  nav #nav-list .nav-li:hover #under-servicios {
    pointer-events: auto;
    -webkit-animation: showUnder .2s ease-out forwards; }
  nav #nav-list .nav-li:hover #under-servicios li {
    pointer-events: auto;
    -webkit-animation: slideRight .2s ease-out forwards; }

@-webkit-keyframes showUnder {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@-webkit-keyframes slideIn {
  0% {
    width: 10%; }
  50% {
    background-color: white; }
  100% {
    background-color: #4DB0E2;
    width: 80%; } }

nav #under-servicios {
  opacity: 0;
  transform-origin: top center;
  pointer-events: none;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: -45%;
  width: 190%;
  padding: .5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: .35rem;
  border-bottom-left-radius: .35rem; }
  nav #under-servicios.eng {
    left: -55%;
    width: 220%; }
  nav #under-servicios.scroll-sv {
    background-color: #fff;
    -webkit-transition-delay: 2s;
    -webkit-transition: background 1.2s ease-out; }
  nav #under-servicios.scroll-sv-join {
    background-color: #fff; }
  nav #under-servicios li {
    list-style: none;
    transform: translateX(-0.5rem);
    opacity: 0;
    margin-left: 0;
    margin-bottom: .5rem; }
    nav #under-servicios li:first-of-type {
      margin-top: .5rem; }
    nav #under-servicios li:last-of-type {
      margin-bottom: .1rem; }
    nav #under-servicios li:hover a {
      color: #4DB0E2;
      font-weight: 400; }

#banner {
  position: relative;
  width: 100%;
  height: 105vh;
  overflow-y: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  #banner #scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -50000; }
  #banner #particles-js {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -50000; }
  #banner .are {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: #333333;
    margin-bottom: .4rem;
    margin-left: 8vw;
    margin-top: -1.7rem; }
  #banner .type-wrap {
    font-family: 'Quicksand', sans-serif;
    margin-left: 8vw; }
    #banner .type-wrap #typed {
      margin-top: -1.7rem;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      color: #4DB0E2; }
  #banner #arrow {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation-name: moveUpDown;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out; }
    #banner #arrow svg {
      height: 1.2rem;
      transform: rotate(90deg); }

#nosotros {
  width: 85vw;
  margin: 0 7.5vw;
  background-color: #4DB0E2;
  position: relative;
  top: -10vh;
  padding: 10vw 6vw 14vw 6vw;
  -webkit-animation-name: moveUp;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-clip-path: polygon(0 90%, 0 0, 150% 0, 150% 90%, 58% 90%, 50% 100%, 42% 90%);
  overflow: visible;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  #nosotros #nosotros-text {
    width: 65%; }
    #nosotros #nosotros-text h4 {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      color: #fff;
      margin-bottom: 0.4rem; }
    #nosotros #nosotros-text p {
      font-size: 0.6rem;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      color: #fff;
      margin-bottom: 1rem; }
    #nosotros #nosotros-text span {
      width: 1.2rem;
      height: 0.1rem;
      background-color: #fff;
      display: block;
      margin-bottom: 1rem; }
  #nosotros #nosotros-img {
    position: relative; }
  #nosotros #border {
    border: #fff 0.06rem solid;
    position: absolute;
    top: -5%;
    left: 28%;
    width: 35vw;
    height: 25vw; }
  #nosotros img {
    width: 35vw;
    height: 25vw;
    position: relative;
    left: 25%;
    object-fit: cover;
    -webkit-transition: all 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
  #nosotros img:hover {
    -webkit-filter: grayscale(0%); }

#metodologia {
  padding: 0 3rem 3rem 3rem;
  text-align: center; }
  #metodologia h4 {
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: #4DB0E2; }
  #metodologia #metodologia-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem; }
    #metodologia #metodologia-grid .method {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    #metodologia #metodologia-grid p {
      color: #333333;
      font-size: 0.5rem;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.05rem; }
    #metodologia #metodologia-grid svg {
      height: 2rem;
      margin-bottom: 1rem;
      -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
      #metodologia #metodologia-grid svg.dark path {
        fill: #333333; }

#servicios {
  margin-top: 1rem; }

#summary {
  width: 85vw;
  margin: 0 7.5vw 10vw 7.5vw;
  text-align: center;
  color: white; }
  #summary h4 {
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: #5e5e5e; }
  #summary #servicios-icons {
    display: grid;
    grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%; }
    #summary #servicios-icons .icon svg path {
      fill: #4DB0E2; }
    #summary #servicios-icons .icon svg circle {
      fill: #4DB0E2; }
    #summary #servicios-icons a {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      #summary #servicios-icons a svg {
        height: 2rem;
        -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
      #summary #servicios-icons a .line {
        display: block;
        height: 1.5rem;
        width: .06rem;
        background-color: #4DB0E2;
        margin: 1vw 0;
        transform-origin: bottom center;
        -webkit-transition: transform 0.2s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
      #summary #servicios-icons a p {
        width: 55%;
        color: #333333;
        font-size: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.05rem; }
    #summary #servicios-icons .icon:hover .line {
      transform: scale(0); }
    #summary #servicios-icons .icon:hover svg {
      transform: translateY(1rem); }
    #summary #servicios-icons .icon:hover svg path {
      fill: #5e5e5e; }
    #summary #servicios-icons .icon:hover svg circle {
      fill: #5e5e5e; }

.article {
  background-color: #5e5e5e;
  font-size: 0.5rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  padding: 3rem;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative; }
  .article.right {
    background-color: #fff;
    color: #5e5e5e;
    text-align: right; }
    .article.right .article-text {
      order: 2;
      font-weight: 400; }
      .article.right .article-text h4 {
        color: #4DB0E2; }
    .article.right .lenguajes {
      order: 1; }
    .article.right .lng-text {
      text-align: left; }
  .article#ux .article-text, .article#testing .article-text, .article#seo .article-text {
    width: 58%; }
  .article#cm .article-text {
    width: 45%; }
  .article .article-text {
    width: 35%; }
    .article .article-text h4 {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      color: #fff;
      margin-bottom: 0.4rem; }
    .article .article-text p {
      margin-top: 1rem;
      margin-bottom: .4rem; }
    .article .article-text a {
      font-size: 0.6rem;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0.05rem;
      color: #fff; }
      .article .article-text a.color {
        color: #4DB0E2; }

.lenguajes {
  width: 55%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  row-gap: 6vw;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer; }
  .lenguajes#join-lng {
    cursor: auto; }
  .lenguajes .lng {
    font-size: 0.4rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .lenguajes .lng.white svg path {
      fill: rgba(255, 255, 255, 0.8); }
    .lenguajes .lng.blue svg path {
      fill: rgba(77, 176, 226, 0.8); }
    .lenguajes .lng p {
      -webkit-transition: font 0.2s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
    .lenguajes .lng svg {
      height: 1.4rem;
      margin-bottom: 0.5rem;
      -webkit-transition: transform 0.2s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
    .lenguajes .lng .show {
      margin-top: 0.3rem;
      color: #4DB0E2;
      width: .8rem;
      height: .8rem;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: 0.035rem solid #4DB0E2;
      font-size: 0.45rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.05rem; }
      .lenguajes .lng .show.first {
        color: #fff;
        border-color: #fff; }

.lng-text {
  width: 55%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: none; }
  .lng-text .lng-back {
    font-size: 0.4rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .lng-text .lng-back svg {
      height: 1.4rem;
      margin-bottom: 0.5rem;
      -webkit-transition: transform 0.2s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
    .lng-text .lng-back .show {
      transform: rotate(180deg);
      margin-top: 0.3rem;
      color: #4DB0E2;
      width: .8rem;
      height: .8rem;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: 0.035rem solid #4DB0E2;
      font-size: 0.45rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.05rem; }
      .lng-text .lng-back .show.first {
        color: #fff;
        border-color: #fff; }
  .lng-text .info {
    width: 60%;
    margin-left: 2rem; }

#cm-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 45%; }
  #cm-icons svg {
    width: 80%; }
    #cm-icons svg path {
      fill: rgba(255, 255, 255, 0.8); }
    #cm-icons svg line {
      stroke-dasharray: 50;
      -webkit-animation: dash 5s linear infinite; }

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 800; } }

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0; } }

#ux-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  width: 80%; }
  #ux-icons svg {
    width: 55%; }
    #ux-icons svg path, #ux-icons svg line, #ux-icons svg circle, #ux-icons svg rect, #ux-icons svg ellipse, #ux-icons svg polygon {
      stroke: rgba(77, 176, 226, 0.8); }
    #ux-icons svg #content line, #ux-icons svg #content rect {
      stroke-dasharray: 800;
      stroke-dashoffset: 800;
      -webkit-animation: draw 2s linear infinite; }
    #ux-icons svg #popup line {
      stroke-dasharray: 50;
      -webkit-animation: dash 5s linear infinite; }

#seo-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
  width: 80%; }
  #seo-icons svg {
    width: 55%; }
    #seo-icons svg path, #seo-icons svg line, #seo-icons svg circle, #seo-icons svg rect, #seo-icons svg polyline {
      stroke: rgba(255, 255, 255, 0.8);
      fill: none;
      stroke-width: 6; }
    #seo-icons svg g#name path, #seo-icons svg g#lines polyline {
      stroke: none;
      fill: rgba(255, 255, 255, 0.8); }
    #seo-icons svg #arrow polyline {
      stroke-dasharray: 800;
      stroke-dashoffset: 800;
      -webkit-animation: draw 1s linear infinite; }
    #seo-icons svg #lupa circle, #seo-icons svg #lupa line {
      stroke-dasharray: 5;
      -webkit-animation: dash 5s linear infinite; }

#test-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 4rem;
  width: 80%; }
  #test-icons svg {
    width: 55%; }
    #test-icons svg path, #test-icons svg line, #test-icons svg circle, #test-icons svg rect, #test-icons svg polyline {
      stroke: rgba(77, 176, 226, 0.8);
      fill: none;
      stroke-width: 6; }
    #test-icons svg #config {
      stroke: rgba(77, 176, 226, 0.8); }
      #test-icons svg #config path {
        transform-origin: center center;
        -webkit-animation: rotate 2s linear infinite; }
    #test-icons svg #text line, #test-icons svg #text path {
      stroke-dasharray: 800;
      stroke-dashoffset: 800;
      -webkit-animation: draw 2s linear infinite; }
    #test-icons svg #lupa circle {
      stroke-dasharray: 100;
      -webkit-animation: dash 5s linear infinite; }

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

#contacto {
  position: relative;
  background-color: #4DB0E2;
  height: auto;
  overflow-y: hidden; }

#call-contacto {
  padding: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #call-contacto h4 {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin-bottom: 2rem; }
  #call-contacto #arrow svg {
    height: 0.8rem;
    transform: rotate(90deg); }
  #call-contacto #mail {
    margin-top: 2rem;
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: white;
    padding: .6rem;
    border: 0.05rem solid white; }
  #call-contacto #slider {
    position: relative; }
  #call-contacto p {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: #fff;
    -webkit-animation-name: moveInLeft;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease-out;
    margin-bottom: 1rem;
    position: relative;
    top: 0;
    left: 0; }
    #call-contacto p span {
      font-weight: 700; }
    #call-contacto p .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

#contacto-formularios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 3rem 0; }

#formulario-join {
  width: 50%; }
  #formulario-join .form {
    position: relative;
    margin-bottom: 1rem; }
    #formulario-join .form input, #formulario-join .form textarea {
      border: none;
      font-size: 0.5rem;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: 0.05rem;
      outline: none;
      border-radius: 0;
      padding: 0.3rem;
      width: 100%;
      background-color: #ecebeb;
      -webkit-appearance: none;
      border-radius: 0.15rem; }
    #formulario-join .form textarea {
      height: 5.5rem;
      resize: none;
      margin-top: 0.4rem; }
    #formulario-join .form .label-text {
      font-size: 0.5rem;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.05rem;
      color: #fff; }
    #formulario-join .form .moving-label {
      font-size: 0.5rem;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: 0.05rem;
      position: absolute;
      bottom: 0.3rem;
      left: 0.3rem;
      display: block;
      -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03);
      color: #000000;
      pointer-events: none; }
      #formulario-join .form .moving-label.filled {
        transform: translate(-0.3rem, 1rem);
        font-size: 0.4rem;
        color: #fff; }
    #formulario-join .form input:focus ~ label {
      transform: translate(-0.3rem, 1rem);
      font-size: 0.4rem;
      color: #fff; }
  #formulario-join #btn-enviar, #formulario-join #send-cv {
    width: 100%;
    color: #fff;
    font-size: 0.45rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.05rem;
    text-transform: capitalize;
    outline: none;
    border-radius: 0.15rem;
    padding: 0.5rem;
    cursor: pointer;
    -webkit-appearance: none;
    background-color: #4DB0E2;
    border: 0.07rem solid #fff; }

#join {
  background-color: #4DB0E2; }

#join-us {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; }
  #join-us h3 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    text-transform: uppercase; }
  #join-us span {
    background-color: #fff;
    height: 2rem;
    width: .03rem;
    margin: 1rem 0; }
  #join-us h4 {
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    margin-bottom: 3rem; }
  #join-us #postulate {
    margin: 3rem 0 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #join-us #postulate h3 {
      font-size: 0.7rem;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      margin-bottom: .5rem; }
    #join-us #postulate svg {
      transform: rotate(90deg);
      height: 1rem; }
  #join-us #join-lng {
    grid-template-columns: 20% 20% 20% 20% 20%; }

#form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  position: relative; }
  #form-wrapper #anchor {
    position: absolute;
    top: -2.3rem;
    left: 0; }
  #form-wrapper #formulario-join select {
    margin-top: .4rem;
    width: 100%;
    display: block;
    border: none;
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.05rem;
    outline: none;
    padding: 0.3rem;
    background-color: #E1E1E1;
    border-radius: 0.15rem; }
  #form-wrapper #formulario-join textarea {
    height: 4rem; }
  #form-wrapper #formulario-join span {
    font-size: .4rem;
    opacity: .4; }
  #form-wrapper #formulario-join #cv {
    margin-top: .4rem; }

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #fff;
  z-index: 52560000; }
  footer p {
    display: inline-block;
    font-size: 0.4rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: #5e5e5e; }
  footer .footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    footer .footer-info p {
      display: inline-block; }
    footer .footer-info svg {
      width: 2.2rem;
      display: inline-block;
      margin-right: .2rem; }
  footer .footer-contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    footer .footer-contacto a {
      display: inline-block;
      font-size: 0.4rem;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      color: #5e5e5e; }
    footer .footer-contacto svg {
      width: 0.5rem;
      display: inline-block;
      margin-right: 0.5rem; }
  footer .footer-socialmedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #5e5e5e; }
    footer .footer-socialmedia svg {
      width: 1rem;
      display: inline-block;
      margin-left: 0.5rem; }

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes moveUpDown {
  0% {
    transform: translateY(-2vh); }
  50% {
    transform: translateY(0); }
  100% {
    transform: translateY(-2vh); } }

@-webkit-keyframes moveUp {
  0% {
    transform: translateY(10vh); }
  100% {
    transform: translateY(0); } }

#banner-servicios {
  background: #fff;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  padding: 1.5rem 3.5rem 0 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  #banner-servicios #arrow {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation-name: moveUpDown;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out; }
    #banner-servicios #arrow svg {
      height: 1.2rem;
      transform: rotate(90deg); }
  #banner-servicios img {
    width: 45%; }
  #banner-servicios #service-intro {
    width: 40%; }
    #banner-servicios #service-intro h3 {
      font-size: 0.8rem;
      font-weight: 700;
      line-height: 1.3;
      letter-spacing: 0.05rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      color: #4DB0E2; }
    #banner-servicios #service-intro p {
      font-size: 0.5rem;
      font-weight: 400;
      line-height: 1.6;
      letter-spacing: 0.05rem;
      color: #333333; }

@media screen and (max-width: 1024px) {
  html {
    font-size: 6vw; }
  header {
    padding: 0.6rem 0.8rem; }
    header #idioma {
      right: calc(14vw + 0.8rem); }
      header #idioma p {
        font-size: 0.5rem; }
      header #idioma svg {
        width: .8rem; }
    header #logo-text {
      display: none; }
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    nav #nav-toggle {
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
    nav #logo-mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
    nav #nav-list {
      position: fixed;
      top: 50vh;
      left: 0;
      transform: translate(150%, -50%);
      display: block;
      -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
      nav #nav-list .nav-li {
        display: list-item;
        width: 100vw;
        margin: 0;
        text-align: center;
        font-size: 1rem;
        padding: 1rem 0; }
        nav #nav-list .nav-li#logo-li {
          display: none; }
        nav #nav-list .nav-li a#forma-parte {
          color: #4DB0E2;
          background-color: transparent;
          padding: 0;
          border-radius: 0;
          font-weight: 700; }
        nav #nav-list .nav-li .underline {
          display: none; }
    nav #under-servicios {
      display: none; }
  #banner {
    height: 90vh;
    overflow-x: hidden; }
    #banner #arrow {
      bottom: 2vh; }
    #banner .are {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      padding-right: 8vw; }
    #banner .type-wrap {
      padding-right: 8vw; }
      #banner .type-wrap #typed {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2;
        letter-spacing: 0.05rem; }
  #nosotros {
    width: 100%;
    margin: 0;
    top: 0;
    padding: 15vw 12vw 0 12vw;
    display: block;
    -webkit-clip-path: none; }
    #nosotros #nosotros-text {
      width: 100%; }
    #nosotros img {
      width: 75vw;
      height: 50vw;
      left: 0;
      margin-top: -8vw;
      top: 15vw;
      display: block; }
    #nosotros #border {
      display: none; }
    #nosotros img:hover {
      -webkit-filter: grayscale(100%); }
  #metodologia {
    margin-top: 35vw; }
    #metodologia #metodologia-grid {
      grid-template-columns: 1fr; }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer .footer-socialmedia, footer .footer-contacto {
      margin-top: 0.8rem; }
  #banner-section p {
    width: 80%; }
  #summary {
    margin-top: 20vw;
    margin-bottom: 18vw; }
    #summary #servicios-icons {
      grid-template-columns: 1fr;
      row-gap: 4rem; }
      #summary #servicios-icons a svg {
        height: 3rem;
        margin-bottom: 1rem; }
      #summary #servicios-icons a .line {
        display: none; }
      #summary #servicios-icons a p {
        width: 100%;
        font-size: .8rem;
        font-weight: 400; }
      #summary #servicios-icons .icon:hover svg {
        transform: translateY(0); }
      #summary #servicios-icons .icon:hover svg path {
        fill: #4DB0E2; }
      #summary #servicios-icons .icon:hover svg circle {
        fill: #4DB0E2; }
  .article {
    padding: 2rem 1.5rem;
    display: block; }
    .article.right {
      text-align: left; }
    .article #ux-icons, .article #cm-icons, .article #test-icons, .article #seo-icons {
      width: 100%;
      margin-top: 8vw;
      margin-left: 0;
      margin-right: 0; }
      .article #ux-icons#test-icons, .article #cm-icons#test-icons, .article #test-icons#test-icons, .article #seo-icons#test-icons {
        margin-left: -1rem; }
    .article#ux .article-text, .article#testing .article-text, .article#cm .article-text, .article#seo .article-text {
      width: 100%; }
    .article .article-text {
      width: 100%; }
      .article .article-text a {
        color: #5e5e5e;
        width: 100%;
        display: block;
        padding: .4rem 0;
        text-align: center;
        background-color: white;
        margin-top: 1rem; }
        .article .article-text a.color {
          color: white;
          background-color: #4DB0E2; }
    .article .lenguajes {
      width: 100%;
      margin-top: 2rem;
      row-gap: 10vw; }
  #join-us .lenguajes {
    width: 80%; }
  #formulario-join {
    width: 100%;
    padding: 0 6vw; }
  #call-contacto {
    padding: 2rem 1rem; }
  .lng-text {
    margin-top: 2rem;
    width: 100%; }
  #banner-servicios {
    height: auto;
    width: 100%;
    overflow-y: hidden;
    padding: 4rem 2rem 1rem 2rem;
    display: block; }
    #banner-servicios #arrow {
      display: none; }
    #banner-servicios img {
      width: 100%; }
    #banner-servicios #service-intro {
      width: 100%;
      margin-bottom: 1rem; } }

@media screen and (orientation: landscape) and (max-width: 1024px) {
  html {
    font-size: 5vw; }
  header {
    padding: 0.3em 0.5rem; }
    header #logo-mobile h2 {
      font-size: 0.5rem; }
    header #idioma {
      right: 3rem; }
  nav #nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%; }
    nav #nav-list .nav-li {
      display: inline;
      width: auto;
      margin-right: 1.2rem;
      font-size: 0.7rem; }
      nav #nav-list .nav-li:last-of-type {
        margin-right: 0; }
  #nav-toggle {
    -webkit-transform: scale(0.6); }
  #banner {
    height: 130vh; }
    #banner h3 {
      font-size: 1rem; }
    #banner #btn {
      font-size: 0.4rem; }
  #summary #servicios-icons {
    grid-template-columns: 1fr 1fr; }
    #summary #servicios-icons a svg {
      height: 2rem; }
    #summary #servicios-icons a p {
      font-size: .6rem; } }

@media screen and (min-width: 767px) and (max-width: 1024px) {
  html {
    font-size: 4vw; } }
