$dark: #121212;
$light: #36394A;
$white: #eee;

@mixin font-values($size, $weight, $line){
    font-size: $size;
    font-weight: $weight;
    line-height: $line;
    letter-spacing: 0.05rem;;
}

@mixin flex-row-setting($alignment, $justify){
    display: flex;
    flex-direction: row;
    align-items: $alignment;
    justify-content: $justify;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 2.5vw;
}

body{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    background-color: $white;
    a{
       text-decoration: none;
    }
    svg{
        display: block;
    }
}

header{
    @include flex-row-setting(center, space-between);
    background-color: transparent;
    position: fixed;
    width: 100%;
    padding: 0.5rem 0.8rem;
    z-index: 1500000;
    transition: background 0.3s ease-out;
}

#mobile-bg{
    position: fixed;
    right: 0;
    top: 0;
    height: 500vh;
    width: 500vw;
    background-color: $dark;
    z-index: -15000;
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.3s ease-out;
    border-bottom-left-radius: 50%;
}

.scroll{
    background-color: black;
    transition: background 1s ease-out;
    box-shadow: 0rem 0rem 1vh rgba(0, 0, 0, 0.2);
    border-bottom: 0.5px solid rgba(117, 117, 117, 0.2);
}

#logo{
    @include flex-row-setting(center, center);
    h1{
        position: absolute;
        opacity: 0;
    }
    h2{
        color: $light;
        @include font-values(0.4rem, 700, 1.2);
        display: inline-block;
        margin-left: 0.5rem;
    }
    svg{
        height: 0.9rem;
    }
}

#nav-toggle{
    display: none;
    span{
        display: block;
        height: 0.8vw;
        width: 8vw;
        background-color: $white;
        margin-bottom: 1.2vw;
        transform-origin: top right;
        transition: transform 0.3s cubic-bezier(.18,.57,.5,1.03);
        &:nth-of-type(2){
            width: 6vw;
        }
        &:last-of-type{
            width: 4vw;
            margin-bottom: 0;
            transform-origin: bottom right;
        }
    }
}

nav ul{
    @include flex-row-setting(center, center);
}

nav ul li{
    display: inline;
    list-style: none;
    @include font-values(0.4rem, 300, 1.2);
    margin-left: 0.8rem;
    a{
        color: white;
    }
}


//////////// inicio ////////////

#body-home{
    background-color: $dark;
}

#banner{
    position: relative;
    width: 100%;
    height: 105vh;
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.404) 50%, rgba(255, 255, 255, 0) 100%), url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h3{
        @include font-values(1.2rem, 700, 1.2);
        color: $white;
        margin-left: 8vw;
        margin-bottom: 1rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        span{
            font-weight: 300;
        }
    }
    #btn{
        display: block;
        border: 0.1vw solid $white;
        margin-left: 8vw;
        color: $white;
        padding: 0.5rem;
        text-align: center;
        @include font-values(0.5rem, 400, 1.2);
        text-transform: uppercase;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    #arrow{
        position: absolute;
        bottom: 10vh;
        left: 50%;
        transform: translate(-50%, -50%);
        animation-name: moveUpDown;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        svg{
            height: 1.2rem;
            transform: rotate(90deg);
        }
    }
}

#nosotros{
    width: 85vw;
    margin: 0 7.5vw;
    background-color: $light;
    position: relative;
    top: -10vh;
    padding: 10vw 6vw;
    animation-name: moveUp;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    @include flex-row-setting(center, space-between);
    #nosotros-text{
        width: 65%;
        h4{
            @include font-values(1rem, 700, 1.2); 
            color: $white;
            margin-bottom: 0.4rem;
        }
        p{
            @include font-values(0.6rem, 300, 1.2); 
            color: $white;
            margin-bottom: 1rem;
        }
        span{
            width: 1.2rem;
            height: 0.1rem;
            background-color: $white;
            display: block;
            margin-bottom: 1rem;
        }
    }
    img{
        width: 35vw;
        height: 25vw;
        position: relative;
        left: 25%;
        object-fit: cover;
        -webkit-filter: grayscale(100%);
        transition: all 0.3s cubic-bezier(.18,.57,.5,1.03);
    }
    img:hover{
        -webkit-filter: grayscale(0%);
        transform: translateX(-5%) scale(1.1);
    }
    #connect{
        position: absolute;
        display: block;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        height: 3.5rem;
        width: 0.15vw;
        background-color: $light;
    }
}

//////////// servicios ////////////

#servicios{
    margin-top: 3rem;
}

#summary{
    width: 85vw;
    margin: 0 7.5vw 10vw 7.5vw;
    text-align: center;
    color: white;
    h4{
        margin-bottom: 3rem;
        text-transform: uppercase;
        @include font-values(0.8rem, 400, 1.2);
    } 
    #servicios-icons{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        a{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            svg{
                height: 2rem;
            }
            .line{
                display: block;
                height: 1.5rem;
                width: .15vw;
                background-color: $light; 
                margin: 1vw 0;
            }
            p{
                width: 50%;
                color: white;
                @include font-values(0.6rem, 300, 1.2);
            }
        }
    }
}

.article{
    background-color: $light;
    padding: 3rem;
    color: $white;
    @include flex-row-setting(center, space-between);
    position: relative;
    &.right{
        background-color: $dark;
        text-align: right;
        .article-text{
            order: 2;
        }
        .lenguajes{
            order: 1;
        }
        span{
            position: absolute;
            right: 3rem;    
        }
    }
    .article-text{
        width: 35%;
        h4{
            @include font-values(1rem, 700, 1.2); 
                color: $white;
                margin-bottom: 0.4rem;
        }
        span{
            width: 1.2rem;
            height: 0.1rem;
            background-color: $white;
            display: block;
        }
        p{
            @include font-values(0.5rem, 300, 1.5);
            margin-top: 1rem;
        }
    }
    .lenguajes{
        width: 55%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        row-gap: 6vw;
            .lng{
                @include font-values(0.4rem, 300, 1.5);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &.white svg path{
                    fill: rgba(255, 255, 255, 0.5);
                }
                p{
                    transition: font 0.2s cubic-bezier(.18,.57,.5,1.03);
                }
                svg{
                    height: 1.4rem;
                    margin-bottom: 0.5rem;
                    transition: transform 0.2s cubic-bezier(.18,.57,.5,1.03);
                }
                .more{
                    margin-top: 0.4rem;
                    border-radius: 50%;
                    border: 1px solid $white;
                    svg{
                        height: 0.2rem;
                        margin: 0.1rem;
                    }
                }
            }
    }
}

#semillero{
    display: block;
    height: 50vh;
}

////// contacto /////////

#call-contacto{
    width: 100%;
    background-color: $light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;
    padding-top: 5rem;
    -webkit-clip-path: polygon(0 31%, 100% 0, 100% 100%, 0 100%);
    p{
        @include font-values(0.6rem, 300, 1.2); 
        color: $white;
        margin-bottom: 1rem;
    }
    a{
        color: $white;
        @include font-values(0.8rem, 400, 1.2);
        text-transform: uppercase;
    }
    #arrow{
        svg{
            margin-top: 2vw;
            height: 0.8rem;
            transform: rotate(90deg);
        }
    }
}

#contacto-formularios{
    display: -webkit-flex;
    padding: 1.5rem 5rem 4rem 5rem;
    background-color: $light;
    #carga-cv{
        background-color: $dark;
        width: 45%;
        height: inherit;
        margin-right: 2rem;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        p{
            @include font-values(0.8rem, 300, 1.2);
        }
        #cargar{
            @include font-values(0.6rem, 700, 1.5); 
            input{
                width: 100%;
                -webkit-appearance: none;
            }
        }
        #enviar-cv{
            border: 0.1vw solid $white;
            color: $white;
            background-color: transparent;
            padding: 0.4rem;
            @include font-values(0.4rem, 300, 1.2);
            text-transform: uppercase;
            cursor: pointer;
            border-radius: none; 
            width: 100%;
        }
    }
    #formulario{
        width: 100%;
        .form{
            position: relative;
            margin-bottom: 1rem;
            input, textarea{
            border: none;
            @include font-values(0.5rem, 400, 1.4);
            outline: none;
            border-radius: 0; 
            padding: 0.3rem;
            width: 100%;
            background-color: #E1E1E1;
            -webkit-appearance: none;
            border-radius: 0.15rem;
            }
            textarea{
                height: 5.5rem;
                resize: none;
                margin-top: 0.4rem;
            }
            #label-text{
                @include font-values(0.5rem, 400, 1);
                color: rgba(0, 0, 0, 0.8);
                color: white;
            }
            .moving-label{
                @include font-values(0.5rem, 300, 1.4);
                position: absolute;
                bottom: 0.3rem;
                left: 0.3rem;
                display: block;
                transition: transform 0.3s cubic-bezier(.18,.57,.5,1.03);
                color: $dark;
                pointer-events: none;
            }
            input:focus ~ label{
                transform: translate(-0.3rem, 1rem);
                font-size: 0.4rem;
                color: white;
            }
         
            input:not(:focus):valid ~ label{
                transform: translate(-0.3rem, 1rem);
                font-size: 0.4rem;
                color: white;
            }
        }
        #btn-enviar{
            width: 100%;
            background-color: #262626;
            color: $white;
            @include font-values(0.4rem, 300, 1);
            text-transform: capitalize;
            border: none;
            outline: none;
            border-radius: 0.15rem;
            padding: 0.5rem;
            cursor: pointer;
            -webkit-appearance: none;
        } 
    }
}

////// footer //////

footer{
    @include flex-row-setting(center, space-between);
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: $dark;
    p{
        display: inline-block;
        @include font-values(0.4rem, 300, 1.2);
        color: $white;
    }
    .footer-info{
        @include flex-row-setting(center, center);
        p{
            display: inline-block;
        }
        svg{
            width: 0.8rem;
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
    .footer-contacto{
        @include flex-row-setting(center, center);
        a{
            display: inline-block;
            @include font-values(0.4rem, 300, 1.2);
            color: $white;
        }
        svg{
            width: 0.5rem;
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
    .footer-socialmedia{
        @include flex-row-setting(center, center);
        text-transform: uppercase;
        svg{
            width: 1rem;
            display: inline-block;
            margin-left: 0.5rem;
        }
    }
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveUpDown{
    0%{
        transform: translateY(-2vh);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-2vh);
    }
}

@keyframes moveUp{
    0%{
        transform: translateY(10vh);
    }
    100%{
        transform: translateY(0);
    }
}




@media screen and (max-width: 1024px){
    html{
        font-size: 6vw;
    }
    header{
        padding: 0.8rem;
        #logo h2{
            font-size: 0.5rem;
        }
    }
    nav{
        #nav-toggle{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        ul{
            position: fixed;
            top: 50vh;
            left: 0;
            transform: translate(150%, -50%);
            display: block;
            transition: transform 0.3s cubic-bezier(.18,.57,.5,1.03);
            li{
                display: list-item;
                width: 100vw;
                margin: 0;
                text-align: center;
                font-size: 1rem;
                padding: 1rem 0;
    
            }
        }
    } 

    #banner{
        height: 90vh;
        #arrow{
            bottom: 2vh;
        }
    }
    #nosotros{
        width: 100%;
        margin: 0;
        top: 0;
        padding: 15vw 12vw 0 12vw;
        display: block;
        #nosotros-text{
            width: 100%;
        }
        #connect{
            display: none;
        }
        img{
            width: 75vw;
            height: 50vw;
            object-fit: cover;
            left: 0;
            margin-top: -8vw;
            top: 15vw;
        }
        img:hover{
            -webkit-filter: grayscale(100%);
            transform: translateX(0) scale(1);
        }
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .footer-socialmedia, .footer-contacto{
            margin-top: 0.8rem;
        }
    }
    #banner-section{
        p{
            width: 80%;
        }
    }
    #contacto-formularios{
        display: flex;
        flex-direction: column;
        padding: 0;
        #carga-cv{
            padding: 10vw 6vw;
            order: 2;
            width: 100vw;
            height: 100%;
            margin: 0;
            background-color: #262626;
            p{
                margin-bottom: 5vw;
            }
            #cargar{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                input{
                    margin-top: 10vw;
                    width: 50%;
                }
            }
            #enviar-cv{
                margin-top: 10vw;
            }
        }
        #formulario{
        order: 1;
        width: 100vw;
        padding: 10vw 6vw;
        }
    }
    #summary{
        margin-top: 30vw;
        #servicios-icons{
            grid-template-columns: 50% 50%;
            row-gap: 10vw;
        }
    }
    .article{
        padding: 2rem 1.5rem;
        display: block;
        &.right{
            text-align: left;
            span{
                position: relative;
                top: 0;
                left: 0;   
            }
        }
        .article-text{
            width: 100%;
        }
        .lenguajes{
            width: 100%;
            margin-top: 2rem;
            row-gap: 10vw;
        }
    }
} 



@media screen and (orientation:landscape) and (max-width: 1024px){
    html{
        font-size: 5vw;
    }
    header{
        padding: 0.3em 0.5rem;
    }
    nav ul{
        @include flex-row-setting(center, center);
        width: 100%;
        li{
        display: inline;
        width: auto;
        margin-right: 1.2rem;
        font-size: 0.7rem;
        &:last-of-type{
            margin-right: 0;
        }
        }
    }
    #nav-toggle{
        transform: scale(0.6);
    }
    #banner{
        height: 130vh;
        h3{
            font-size: 1rem;
        }
        #btn{
            font-size: 0.4rem;
        }
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px){
    html{
        font-size: 4vw;
    }
}