$dark: #121212;
$light: #36394A;
$white: #eee;

@mixin font-values($size, $weight, $line){
    font-size: $size;
    font-weight: $weight;
    line-height: $line;
    letter-spacing: 0.05rem;;
}

@mixin flex-row-setting($alignment, $justify){
    display: flex;
    flex-direction: row;
    align-items: $alignment;
    justify-content: $justify;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 2.5vw;
}

body{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    background-color: $white;
    a{
       text-decoration: none;
    }
    svg{
        display: block;
    }
}

header{
    @include flex-row-setting(center, space-between);
    background-color: transparent;
    position: fixed;
    width: 100%;
    padding: 0.4rem 0;
    z-index: 1500000;
    transition: background 0.3s ease-out;
    #logo-text{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1rem;
        svg{
            width: 1.8rem;
        }
    }
    #idioma{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        @include flex-row-setting(center, center);
        p{
            color: white;
            @include font-values(0.3rem, 300, 1.2);
            text-transform: uppercase;
            display: inline-block;
            margin-right: .1rem;
        }
        svg{
            width: .6rem;
            display: inline-block;
        }
    }
}

#mobile-bg{
    position: fixed;
    right: 0;
    top: 0;
    height: 500vh;
    width: 500vw;
    background-color: $dark;
    z-index: -15000;
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.3s ease-out;
    border-bottom-left-radius: 50%;
}

.scroll{
    background-color: black;
    transition: background 1s ease-out;
    box-shadow: 0rem 0rem 1vh rgba(0, 0, 0, 0.2);
    border-bottom: 0.5px solid rgba(117, 117, 117, 0.2);
}

nav h1{
    position: absolute;
    opacity: 0;
}

#logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg{
        height: 1.1rem;
    }
}

#logo-mobile{
    z-index: 45648888888;
    display: none;
    h2{
        @include font-values(0.7rem, 700, 1.2);
        color: white;  
    }
    svg{
        height: 1.3rem;
    }
    svg:last-of-type{
        width: 2.5rem;
        margin-left: .5rem;
    }
}

#nav-toggle{
    display: none;
    span{
        display: block;
        height: 0.8vw;
        width: 8vw;
        background-color: $white;
        margin-bottom: 1.2vw;
        transform-origin: top right;
        transition: transform 0.3s cubic-bezier(.18,.57,.5,1.03);
        &:nth-of-type(2){
            width: 6vw;
        }
        &:last-of-type{
            width: 4vw;
            margin-bottom: 0;
            transform-origin: bottom right;
        }
    }
}

nav{
    width: 100vw;
    @include flex-row-setting(center, center);
}

nav #nav-list{
    @include flex-row-setting(center, center);
}

nav #nav-list .nav-li{
    display: inline;
    list-style: none;
    position: relative;
    @include font-values(0.3rem, 300, 1.2);
    margin-left: 1.2rem;
    &:first-of-type{
        margin-left: none;
    }
    a{
        color: white;
        text-transform: uppercase;
        &#forma-parte{
            color: #666A84; 
            font-weight: 700;  
        }
    }
    .underline{
        opacity: 0;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -0.4rem;
        @include flex-row-setting(center, flex-start)
        .circle{
            width: 0.2rem;
            height: 0.2rem;
            display: block;
            border: 0.04rem solid #666A84;
            border-radius: 50%;
        }
        .line{
            width: 0;
            height: 0.04rem;
            display: block;
            background-color: #666A84;
        }
    }
    &:hover .underline{
        opacity: 1;
    }
    &:hover .underline .line{
        animation: slideIn .2s ease-out forwards;
    }
    &:hover #under-servicios{
        pointer-events: auto;
        animation: showUnder .2s ease-out forwards;
    }
    &:hover #under-servicios li{
        pointer-events: auto;
        animation: slideRight .2s ease-out forwards;
    }
}

@keyframes showUnder{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes slideRight{
    0%{
        opacity: 0;
        transform: translateX(-.5rem);    
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideIn{
    0%{
        width: 10%;
    }
    50%{
        background-color: white;
    }
    100%{
        background-color: #666A84;
        width: 80%;
    }
}

nav #under-servicios{
    opacity: 0;
    transform-origin: top center;
    pointer-events: none;
    background-color: transparent;
    position: absolute;
    top: 100%;
    left: -45%;
    width: 190%;
    padding: .5rem;
    &.eng{
        left: -55%;
        width: 220%;
    }
    &.scroll-sv{
        background-color: black;
        transition-delay: 2s;
        transition: background 1.2s ease-out;
    }
    &.scroll-sv-join{
        background-color: $light;
        transition-delay: 2s;
        transition: background 1.2s ease-out;
    }
    li{
        list-style: none;
        transform: translateX(-.5rem);
        opacity: 0;
        margin-left: 0;
        margin-bottom: .5rem;
        &:first-of-type{
            margin-top: .5rem;
        }
        &:last-of-type{
            margin-bottom: .1rem;
        }
        &:hover a{
            color: #666A84;
            font-weight: 400;
        }
    }
}



//////////// inicio ////////////

#body-home{
    background-color: $dark;
}

#banner{
    position: relative;
    width: 100%;
    height: 105vh;
    overflow-y: hidden;
    //background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.404) 50%, rgba(255, 255, 255, 0) 100%), url("../img/banner.jpg");
    video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    #slider{
        position: relative;
    }
    h3{
        @include font-values(1.2rem, 300, 1.2);
        color: $white;
        margin-left: 8vw;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        margin-bottom: 1rem;
        position: relative;
        top: 0;
        left: 0;
        span{
            font-weight: 700;
        }
        .fade {
            animation-name: fade;
            animation-duration: 1.5s;
          }
          @keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
          }
          
    }
    .btn{
        width: auto;
        display: block;
        border: 0.1vw solid $white;
        margin-left: 8vw;
        color: $white;
        padding: 0.5rem;
        text-align: center;
        @include font-values(0.5rem, 400, 1.2);
        text-transform: uppercase;
        animation: moveInLeft 1s ease-out forwards;
    }
    #arrow{
        position: absolute;
        bottom: 10vh;
        left: 50%;
        transform: translate(-50%, -50%);
        animation-name: moveUpDown;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        svg{
            height: 1.2rem;
            transform: rotate(90deg);
        }
    }
}

#nosotros{
    width: 85vw;
    margin: 0 7.5vw;
    background-color: $light;
    position: relative;
    top: -10vh;
    padding: 10vw 6vw 15vw 6vw;
    animation-name: moveUp;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    -webkit-clip-path: polygon(0 90%, 0 0, 150% 0, 150% 90%, 58% 90%, 50% 100%, 42% 90%);
    overflow: visible;
    @include flex-row-setting(center, space-between);
    #nosotros-text{
        width: 65%;
        h4{
            @include font-values(1rem, 700, 1.2); 
            color: $white;
            margin-bottom: 0.4rem;
        }
        p{
            @include font-values(0.6rem, 300, 1.2); 
            color: $white;
            margin-bottom: 1rem;
        }
        span{
            width: 1.2rem;
            height: 0.1rem;
            background-color: $white;
            display: block;
            margin-bottom: 1rem;
        }
    }
    img{
        width: 35vw;
        height: 25vw;
        position: relative;
        left: 25%;
        object-fit: cover;
        -webkit-filter: grayscale(100%);
        transition: all 0.3s cubic-bezier(.18,.57,.5,1.03);
    }
    img:hover{
        -webkit-filter: grayscale(0%);
        transform: translateX(-5%) scale(1.1);
    }
}

//////////// servicios ////////////

#servicios{
    margin-top: 1rem;
}

#summary{
    width: 85vw;
    margin: 0 7.5vw 10vw 7.5vw;
    text-align: center;
    color: white;
    h4{
        margin-bottom: 3rem;
        text-transform: uppercase;
        @include font-values(0.8rem, 400, 1.2);
    } 
    #servicios-icons{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        a{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            svg{
                height: 2rem;
                transition: transform 0.3s cubic-bezier(.18,.57,.5,1.03);
            }
            .line{
                display: block;
                height: 1.5rem;
                width: .15vw;
                background-color: $light; 
                margin: 1vw 0;
                transform-origin: bottom center;
                transition: transform 0.2s cubic-bezier(.18,.57,.5,1.03);
            }
            p{
                width: 55%;
                color: white;
                @include font-values(0.6rem, 300, 1.2);
            }
        }
        .icon:hover .line{
            transform: scale(0);
        }
        .icon:hover svg{
            transform: translateY(1rem);
        }
        .icon:hover svg path{
            fill: #D4D4D4;
        }
        .icon:hover svg circle{
            fill: #D4D4D4;
        }
    }
}

.article{
    background-color: $light;
    padding: 3rem;
    color: $white;
    @include flex-row-setting(center, space-between);
    position: relative;
    &.right{
        background-color: $dark;
        text-align: right;
        .article-text{
            order: 2;
        }
        .lenguajes{
            order: 1;
        }
        span{
            position: absolute;
            right: 3rem;    
        }
    }
    &#ux .article-text, &#testing .article-text{
        width: 58%;
    }
    &#cm .article-text{
        width: 50%;
    }
    .article-text{
        width: 35%;
        h4{
            @include font-values(1rem, 700, 1.2); 
                color: $white;
                margin-bottom: 0.4rem;
        }
        span{
            width: 1.2rem;
            height: 0.1rem;
            background-color: $white;
            display: block;
        }
        p{
            @include font-values(0.5rem, 300, 1.5);
            margin-top: 1rem;
        }
    }
}

.lenguajes{
    width: 55%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 6vw;
        .lng{
            @include font-values(0.4rem, 300, 1.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &.white svg path{
                fill: rgba(255, 255, 255, 0.5);
            }
            p{
                transition: font 0.2s cubic-bezier(.18,.57,.5,1.03);
            }
            svg{
                height: 1.4rem;
                margin-bottom: 0.5rem;
                transition: transform 0.2s cubic-bezier(.18,.57,.5,1.03);
            }
        }
}

#cm-icons{
    @include flex-row-setting(center, center);
    width: 45%;
    svg{
        width: 80%; 
        path{
            fill: rgba(255, 255, 255, 0.5); 
        }
        line{
            stroke-dasharray: 50;
            animation: dash 5s linear infinite;
        }

    }
}


@keyframes dash {
    to {
      stroke-dashoffset: 800;
    }
}

@keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

#ux-icons{
    @include flex-row-setting(center, center);
    margin-right: 2rem;
    width: 80%;
    svg{
        width: 55%; 
        path, line, circle, rect{
            stroke: rgba(255, 255, 255, 0.5); 
        }
        #content line, #content rect{
            stroke-dasharray: 800;
            stroke-dashoffset: 800;
            animation: draw 2s linear infinite;
        }
        #popup line{
            stroke-dasharray: 50;
            animation: dash 5s linear infinite;
        }

    }
}

#test-icons{
    @include flex-row-setting(center, center);
    width: 80%;
    svg{
        width: 55%; 
        path, line, circle, rect{
            stroke: rgba(255, 255, 255, 0.5); 

        }
        #config{
            fill: rgba(255, 255, 255, 0.5); 
            path{
                transform-origin: center center;
                animation: rotate 2s linear infinite;
            }
        }
        #text line, #text path{
            stroke-dasharray: 800;
            stroke-dashoffset: 800;
            animation: draw 2s linear infinite;
        }
        #lupa circle{
            stroke-dasharray: 100;
            animation: dash 5s linear infinite;
        }

    }
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

////// contacto /////////

#contacto{
    background-color: #262626;
}

#call-contacto{
    padding: 3rem 0 2.5rem 0;
    -webkit-clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
    background-color: $dark;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        @include font-values(0.6rem, 300, 1.2); 
        color: $white;
        margin-bottom: 1rem;
    }
    a{
        color: $white;
        @include font-values(0.8rem, 400, 1.2);
        text-transform: uppercase;
    }
    #arrow{
        svg{
            margin-top: 2vw;
            height: 0.8rem;
            transform: rotate(90deg);
        }
    }
}

#contacto-formularios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background-color: #262626;
}

#formulario, #formulario-join{
    width: 50%;
    .form{
        position: relative;
        margin-bottom: 1rem;
        input, textarea{
        border: none;
        @include font-values(0.5rem, 400, 1.4);
        outline: none;
        border-radius: 0; 
        padding: 0.3rem;
        width: 100%;
        background-color: #E1E1E1;
        -webkit-appearance: none;
        border-radius: 0.15rem;
        }
        textarea{
            height: 5.5rem;
            resize: none;
            margin-top: 0.4rem;
        }
        .label-text{
            @include font-values(0.5rem, 300, 1);
            color: rgba(0, 0, 0, 0.8);
            color: white;
        }
        .moving-label{
            @include font-values(0.5rem, 300, 1.4);
            position: absolute;
            bottom: 0.3rem;
            left: 0.3rem;
            display: block;
            transition: transform 0.3s cubic-bezier(.18,.57,.5,1.03);
            color: $dark;
            pointer-events: none;
            &.filled{
                transform: translate(-0.3rem, 1rem);
                font-size: 0.4rem;
                color: white;
            }
        }
        input:focus ~ label{
            transform: translate(-0.3rem, 1rem);
            font-size: 0.4rem;
            color: white;
        }
    }
    #btn-enviar, #send-cv{
        width: 100%;
        background-color: transparent;
        border: 0.05vw solid $white;
        color: $white;
        @include font-values(0.4rem, 300, 1);
        text-transform: capitalize;
        outline: none;
        border-radius: 0.15rem;
        padding: 0.5rem;
        cursor: pointer;
        -webkit-appearance: none;
    } 
}

////// join //////

#join{
    background-color: $light;
}

#join-us{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    h3{
        @include font-values(1rem, 700, 1.2);  
        text-transform: uppercase;
    }
    span{
        background-color: #666A84;
        height: 2rem;
        width: .05rem;
        margin: 1rem 0;
    }
    h4{
        @include font-values(.7rem, 300, 1.2);
        margin-bottom: 3rem;
    }
    #postulate{
        margin: 3rem 0 1.5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3{
            @include font-values(.7rem, 700, 1.2);
            margin-bottom: .5rem;
        }
        svg{
            transform: rotate(90deg);
            height: 1rem;
        }
    }
    #join-lng{
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

}

#form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    #formulario-join{
        select{
            margin-top: .4rem;
            width: 100%;
            display: block;
            border: none;
            @include font-values(0.5rem, 400, 1.4);
            outline: none;
            padding: 0.3rem;
            background-color: #E1E1E1;
            border-radius: 0.15rem;
        }
        textarea{
            height: 4rem;
        }
        span{
            font-size: .4rem;
            opacity: .4;
        }
        #cv{
            margin-top: .4rem;
        }
    }
}

////// footer //////

footer{
    @include flex-row-setting(center, space-between);
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: $dark;
    p{
        display: inline-block;
        @include font-values(0.4rem, 300, 1.2);
        color: $white;
    }
    .footer-info{
        @include flex-row-setting(center, center);
        p{
            display: inline-block;
        }
        svg{
            width: 2.2rem;
            display: inline-block;
            margin-right: .2rem;
        }
    }
    .footer-contacto{
        @include flex-row-setting(center, center);
        a{
            display: inline-block;
            @include font-values(0.4rem, 300, 1.2);
            color: $white;
        }
        svg{
            width: 0.5rem;
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
    .footer-socialmedia{
        @include flex-row-setting(center, center);
        text-transform: uppercase;
        svg{
            width: 1rem;
            display: inline-block;
            margin-left: 0.5rem;
        }
    }
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-20%);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveUpDown{
    0%{
        transform: translateY(-2vh);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-2vh);
    }
}

@keyframes moveUp{
    0%{
        transform: translateY(10vh);
    }
    100%{
        transform: translateY(0);
    }
}



@media screen and (max-width: 1024px){
    html{
        font-size: 6vw;
    }
    header{
        padding: 0.6rem 0.8rem;
        #idioma{
            right: calc(14vw + 0.8rem);
            p{
                font-size: 0.5rem;
            }
            svg{
                width: .8rem;
            }
        }
        #logo-text{
            display: none;
        }
    }
    nav{
        @include flex-row-setting(center, space-between);
        #nav-toggle{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        #logo-mobile{
            @include flex-row-setting(center, center);
        }
        #nav-list{
            position: fixed;
            top: 50vh;
            left: 0;
            transform: translate(150%, -50%);
            display: block;
            transition: transform 0.3s cubic-bezier(.18,.57,.5,1.03);
            .nav-li{
                display: list-item;
                width: 100vw;
                margin: 0;
                text-align: center;
                font-size: 1rem;
                padding: 1rem 0;
                &#logo-li{
                    display: none;
                }
                .underline{
                    display: none;
                }
            }
        }
        #under-servicios{
            display: none;
        }
    } 

    #banner{
        height: 90vh;
        overflow-x: hidden;
        video{
            height: 90vh;
            width: auto;
        }
        #arrow{
            bottom: 2vh;
        }
        #slider{
            width: 80%;
        }
    }
    #nosotros{
        width: 100%;
        margin: 0;
        top: 0;
        padding: 15vw 12vw 0 12vw;
        display: block;
        clip-path: none;
        #nosotros-text{
            width: 100%;
        }
        img{
            width: 75vw;
            height: 50vw;
            left: 0;
            margin-top: -8vw;
            top: 15vw;
            display: block;
        }
        img:hover{
            -webkit-filter: grayscale(100%);
            transform: translateX(0) scale(1);
        }
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .footer-socialmedia, .footer-contacto{
            margin-top: 0.8rem;
        }
    }
    #banner-section{
        p{
            width: 80%;
        }
    }
    #contacto-formularios{
        display: flex;
        flex-direction: column;
        padding: 0;
        #carga-cv{
            padding: 10vw 6vw;
            order: 2;
            width: 100vw;
            height: 100%;
            margin: 0;
            p{
                margin-bottom: 5vw;
            }
            #cargar{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                input{
                    margin-top: 6vw;
                    width: 50%;
                }
            }
            #enviar-cv{
                margin-top: 10vw;
            }
        }
        #formulario{
        order: 1;
        width: 100vw;
        padding: 10vw 6vw;
        }
    }
    #summary{
        margin-top: 35vw;
        margin-bottom: 18vw;
        #servicios-icons{
            grid-template-columns: 1fr;
            row-gap: 10vw;
        }
    }
    .article{
        padding: 2rem 1.5rem;
        display: block;
        &.right{
            text-align: left;
            span{
                position: relative;
                top: 0;
                left: 0;   
            }
        }
        #ux-icons, #cm-icons, #test-icons{
            width: 100%;
            margin-top: 8vw;
            &#test-icons{
                margin-left: -8vw;
            }
        }
        &#ux .article-text, &#testing .article-text, &#cm .article-text{
            width: 100%;
        }
        .article-text{
            width: 100%;
        }
        .lenguajes{
            width: 100%;
            margin-top: 2rem;
            row-gap: 10vw;
        }
    }
    #join-us .lenguajes{
        width: 80%;
    }
    #formulario-join{
        width: 100%;
        padding: 0 6vw;
    }
} 



@media screen and (orientation:landscape) and (max-width: 1024px){
    html{
        font-size: 5vw;
    }
    header{
        padding: 0.3em 0.5rem;
        #logo-mobile h2{
            font-size: 0.5rem;
        }
        #idioma{
            right: 3rem;
        }
    }
    nav #nav-list{
        @include flex-row-setting(center, center);
        width: 100%;
        .nav-li{
        display: inline;
        width: auto;
        margin-right: 1.2rem;
        font-size: 0.7rem;
        &:last-of-type{
            margin-right: 0;
        }
        }
    }
    #nav-toggle{
        transform: scale(0.6);
    }
    #banner{
        height: 130vh;
        h3{
            font-size: 1rem;
        }
        #btn{
            font-size: 0.4rem;
        }
        video{
            position: absolute;
            top: 0;
            left: 0;
            width: auto;
            height: 135vh;
        }
    }
    #summary{
        #servicios-icons{
            grid-template-columns: repeat( 4, 1fr );
            .icon{
                grid-column: span 2;
                &:last-of-type{
                    grid-column: 2 / span 2;
                }
            }
        }
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px){
    html{
        font-size: 4vw;
    }
}